.header {
    padding: 20px 10px;
    position: relative;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 5px 30px #ffe18e;
}

.logo {
    max-width: 200px;
}

.contents {
    font-family: "Hubballi", sans-serif;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    width: 100%;
}

a {
    color: rgb(16, 0, 104);
    text-decoration: none;
}

a:hover {
    color: #ffe18e;
}

body {
    font-family: "Hubballi", sans-serif;
    color: rgb(16, 0, 104);
    margin:0;
    overflow-x: hidden;
}

.banner {
    width: 100%;
    display: flex;
    justify-self: center;
}

.newsbanner {
    width: 100%;
    height: 350px;
    display: flex;
    justify-self: center;
}

.container1 {
    position: relative;
    text-align: center;
    color: aliceblue;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;   
}

.button {
    font-size: 10px;
    background-color: rgba(0, 7, 198, 0.758);
    color: aliceblue;
    border: none;
    height: 30px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.soldbutton {
    font-size: 10px;
    background-color: rgba(198, 0, 10, 0.758);
    color: aliceblue;
    border: none;
    height: 30px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.button:hover {
    background-color: aliceblue;
    color: rgba(0, 7, 198, 0.757);
}

.soldbutton:hover {
    opacity: 50%;
}

.carousel {
    font-style: italic;
    background-color: rgba(0, 7, 198, 0.757);
    color: aliceblue;
    height: 30px;
    display: flex;
    overflow-x: auto;
}

.carouselpost {
    background-color: rgba(150, 2, 2, 0.757);
    height: 300px;
    display: flex;
    overflow-x: auto;
}

.carouselpost::-webkit-scrollbar {
    display: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    align-content: center;
    gap: 1em;
    animation: spin 5s infinite linear;
    padding-right: 1em;
}

.anitxt {
    flex: 0 0 10em;
    font-size: 1rem;
    text-align: center;
    align-content: center;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}

.container2 {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.flex-item {
    flex: 1 1 250px;
    padding: 3%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(173, 173, 173, 0.699);
    text-align: center;
    box-sizing: border-box;
}

.flex-info {
    border-right: 1px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s steps(19), cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {border-color: transparent}
}

@keyframes typing {
    from {width: 0}
}

.fleximage{
    border: 5px solid rgba(0, 7, 198, 0.757);
    max-width: 100%;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.info-containertxt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.rows {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.left video {
    display: block;
    max-width: 1000px;
    width: 100%;
    height: auto;
}

.left img {
    align-items: center;
    justify-content: center;
    display: block;
    width: 100%;
    height: auto;
}

.right {
    text-align: center;
    padding: 10px 50px;
    box-sizing: border-box;
}

/*Mobile*/
@media (max-width: 768px) {
    .infocontainer {
        flex-direction: column;
        text-align: center;
    }
    .left img {
        max-width: 30em;
    }
}

/*Desktop*/
@media (max-width: 1200px) {
    .infocontainer {
        flex-direction: row;
    }
}

.extend {
    color: aliceblue;
    background-color: rgba(0, 7, 198, 0.757);
}

mark {
    color: aliceblue;
    background-color: rgba(0, 7, 198, 0.757);  
}

.prev {
    overflow-x: hidden;
    justify-content: center;
    box-sizing: border-box;
}

.container3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;
}

.product-column {
    flex: 1 1 300px;
    max-width: 300px;
}

.products {
    height: auto;
    width: 100%;
}

.pricencart {
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 100%;
    font-weight: bold;
}

.footer {
    padding: 20px 10px;
    position: relative;
    z-index: 1;
    background-color: rgba(0, 7, 198, 0.757);
    color: aliceblue;
    text-align: center;
    font-size: 20px;
}

.liveinfo-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.liverows {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.rightlive-txt {
    text-align: center;
    padding: 10px 50px;
    box-sizing: border-box;   
}

.products {
    max-width: 100%;
    height: auto;
}

.bodyform {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: url('/Assets/form_bg.jpg') no-repeat;
}

.cross {
    position: absolute;
    border: none;
    background-color: transparent;
    top: 20px;
    right: 20px;
    color:rgba(0, 7, 198, 0.757);
    font-weight: bold;
}

.cardbg {
    width: 200px;
    padding: 30px;
    background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 20px rgba(176, 176, 176, 0.646)
}

.cardinfo h2 {
    text-align: center;
    font-size: 2em;
    color: rgba(0, 7, 198, 0.757);
}

.card-input {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    border-bottom: 1px solid rgba(0, 7, 198, 0.757);
}

.card-input label {
    position: absolute;
    top: 50%;
    left: 5px;
    font-size: 1em;
    color:rgba(0, 7, 198, 0.757);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.card-input input:focus ~ label,
.card-input input:not(:placeholder-shown) ~ label {
    top: -5px;
}

.card-input input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: rgba(0, 7, 198, 0.757);
    font-size: 1em;
    font-weight: 600;
}

