.header {
    padding: 20px 10px;
    position: relative;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 5px 30px #ffe59d;
}

.logo {
    max-height: 60px;
}

.contents {
    font-family: "Hubballi", sans-serif;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

body {
    font-family: "Hubballi", sans-serif;
    margin:0;
}

.banner {
    width: 100%;
    display: flex;
    justify-self: center;
}

.container1 {
    position: relative;
    text-align: center;
    color: aliceblue;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;   
}

.button {
    font-size: 10px;
    background-color: rgba(0, 7, 198, 0.758);
    color: white;
    border: none;
    height: 30px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.button:hover {
    background-color: white;
    color: rgba(0, 7, 198, 0.757);
}

.carousel {
    font-style: italic;
    background-color: rgba(0, 7, 198, 0.757);
    color: white;
    /*width: auto;*/
    height: 30px;
    display: flex;
    overflow-x: auto;
}
.carousel::-webkit-scrollbar {
    display: none;
}
.group {
    display: flex;
    align-content: center;
    gap: 1em;
    animation: spin 5s infinite linear;
    padding-right: 1em;
}
.anitxt {
    flex: 0 0 10em;
    font-size: 1rem;
    text-align: center;
    align-content: center;
}
@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}

.container2 {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 5px;
}

.flex-item {
    flex: 1 1 250px;
    padding: 3%;
    display: flex;
    flex-direction: column;
    /*border: 1px solid rgba(0, 7, 198, 0.757);*/
    text-align: center;
    box-sizing: border-box;
}

h2 {
    max-width: 50%;
}

.flex-info {
    border-right: 1px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s steps(19), cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {border-color: transparent}
}

@keyframes typing {
    from {width: 0}
}


.fleximage{
    border: 5px solid rgba(0, 7, 198, 0.757);
    max-width: 100%;
}

.info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: space-evenly;
    align-items: center;
}

.split {
    flex: 1;
    text-align: center;
}

/*Mobile*/
@media (max-width: 768px) {
    .infocontainer {
        flex-direction: column;
    }
}

/*Desktop*/
@media (max-width: 1200px) {
    .infocontainer {
        flex-direction: row;
    }
}

.footer {
    padding: 20px 10px;
    position: relative;
    z-index: 1;
    background-color: rgba(0, 7, 198, 0.757);
    color: aliceblue;
    text-align: center;
    font-size: 20px;
}
